// Colors
$white: #fff;
$gray-lightest: #f0f0f0;
$gray: #66757f;
$blue-light: #e6ecf0;
$blue: #1b95e0;

$muted: rgba($gray, 0.5);

// Grid
$grid-padding-xs: 0.5rem;
$grid-padding-sm: 1.875rem;
$grid-padding-md: 3.125rem;
$grid-padding-lg: 5rem;

$grid-breakpoint-sm: 48rem;
$grid-breakpoint-md: 64rem;
$grid-breakpoint-lg: 80rem;

$content-padding: 0.5rem;
