//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@black:                 #000000;
@white:                 #ffffff;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-size-base:        16px;
